<%- include('../templates/head') %>
<body>
	<%- include('../templates/header') %>
	<div class="content case cqzdr">
        <%- include('../templates/zddx-left') %>
		<div class="zddx-right zddx-undertakings">
            <div class="zddx-right-box">
				<div class="breadCrumb">
					<a href="#">重点人</a>/
					<a href="#">关注情况</a>
				</div>
				<div class="control-nav">
					<div class="con-top">
						<p class="name">王健林</p>
						<div class="co-searchBox">
							<input class="int" type="text" placeholder="请输入"/>
							<a class="aBtn" href="#">检索</a>
						</div>
					</div>
					<div class="con-navBox">
						<ul>
							<li>
								<a href="重庆重点对象-重点人-事业人物.html">
									<i class="zdr-jiankong"></i>
									监控情况
								</a>
							</li>
							<li>
								<a href="重庆重点对象-重点人-基本信息.html">
									<i class="zdr-xinxi"></i>
									基本信息
								</a>
							</li>
							<li class="active">
								<a href="重庆重点对象-重点人-关注情况.html">
									<i class="zdr-guanzhu"></i>
									关注情况
								</a>
							</li>
						</ul>
					</div>
				</div>
	            <div class="zddx-undertakings-cont rollHeight" style="margin-top: 15px">
					<div class="undertakings-title">
						<ul class="clearfix">
							<li>
								<div class="dropdown">
									<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #757575">时间倒序<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="javascript:;">时间倒序</a></li>
										<li><a href="javascript:;">时间顺序</a></li>

									</ul>
								</div>
							</li>
							<li>
								<div class="dropdown">
									<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #757575">所有分组<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="javascript:;">事件情报分组1</a></li>
										<li><a href="javascript:;">事件情报分组2</a></li>

									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="undertakings-tab">
							<table class="tables tables-hover">
									<tr>
										<th width="20"><input type="checkbox" /></th>
										<th width="60">序号</th>
										<th >标题</th>
										<th >关联重点人</th>
										<th >关联阵地</th>
										<th>事件分组</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
									<% for(var i = 1; i < 20; i ++){ %>
									<tr>
										<td><input type="checkbox" /></td>
										<td><%= i %></td>
										<td><a href="###" >马云又出手了</a></td>
										<td class="td200" title="重点人1、重点人2、重点3">
											<span>重点人1、重点人2、重点3</span>
										</td>
										<td class="td200" title="总队1组A类、微信">
											<span>微博-总队1组A类、微信-总队1组B类</span>

										</td>
										<td class="td200" title="事件情报1" >
											<span>事件情报1</span>

										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>

										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-q1" href="重庆重点对象-编辑重点事件.html" title="编辑"></a>
												<a class="gzqk-chakan" href="../html/重庆重点对象-重点事件详情.html" title="查看"></a>
												<a class="u-q2" href="javascript:;" title="删除" data-toggle="modal" data-target="#myModal3"></a>
											</div>
										</td>
									</tr>
									<% } %>
								
								</table>
								<div class="zt-ft clearfix">
									<div class="pull-left">
										<div class="icheckbox_flat-blue" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
										<a href="##" class="btn" data-toggle="modal" data-target="#export"><i class="fa fa-upload"></i> 导出</a>
										<a href="##" class="btn" data-toggle="modal" data-target="#moreDele">批量删除</a>
									</div>
									<div class="pull-right zt-page">
										<span>共222条</span>
										<a class="btn">上一页</a>
										<a class="btn">下一页</a>
										<div class="dropup">
											<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">10条 <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#">10条</a></li>
												<li><a href="#">20条</a></li>
												<li><a href="#">30条</a></li>
												<li><a href="#">50条</a></li>
											</ul>
										</div>
										<div class="quick">
											<label>快速翻页</label>
											<input type="text" value="5">
										</div>
										<a href="##" class="btn">确 认</a>
									</div>
								</div>
					</div>
				</div>	
	            </div>
			</div>
		</div>
	</div>

	<!-- 导出报告 -->
	<div class="modal fade" id="export">
			<div class="modal-dialog" role="document" style="width:500px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="myModalLabel">导出报告</h4>
					</div>
					<div class="modal-body">
							<table class="tc-table">
									<tr>
										<th>导出方式：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs2" /> 自定义</label>
											<label><input type="radio"  name="dcgs2"/> 已勾选</label>
											<label><input type="radio"  name="dcgs2"/> 全部</label>
										</td>
									</tr>
									<tr>
										<th>信源范围：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs3" /> 当前信源</label>
											<label><input type="radio"  name="dcgs3"/> 所有信源</label>
										</td>
									</tr>
									<tr>
										<th>信源范围：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs4" /> WORD</label>
										
										</td>
									</tr>
								</table>
					</div>
					<div class="modal-footer inline-button" style="padding-right: 15px;">
						<a class="active" data-dismiss="modal" aria-label="Close">取消</a>
						<a class="active">确定</a>
					</div>
				</div>
			</div>
		</div>
	<!-- 删除 -->
	<div class="modal fade" id="myModal3">
		<div class="modal-dialog" role="document" style="width: 500px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">删除</h4>
				</div>
				<div class="modal-body">
					<h3 style="text-align:center;padding: 35px 0;">是否删除"马云又出手了这事件"</h3>
				</div>
				<div class="modal-footer">
					<button id="btn" type="button" class="btn" data-dismiss="modal" aria-label="Close">取消</button>
					<button id="btn" type="button" class="btn yes">确定</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 批量删除 -->
	<div class="modal fade" id="moreDele">
		<div class="modal-dialog" role="document" style="width: 500px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">删除</h4>
				</div>
				<div class="modal-body">
					<h3 style="text-align:center;padding: 35px 0;">是否删除选中的事件</h3>
				</div>
				<div class="modal-footer">
					<button id="btn" type="button" class="btn" data-dismiss="modal" aria-label="Close">取消</button>
					<button id="btn" type="button" class="btn yes">确定</button>
				</div>
			</div>
		</div>
	</div>

<%- include('../templates/foot') %>
<script type="text/javascript">
    $(function () { $("[data-toggle='tooltip']").tooltip(); })



	  // 自适应内容
	  var timetxt=[];
    for(var i=0;i<=$('.tables .time').length;i++){
        timetxt.push($('.tables .time').eq(i).text());
    }
    changewidth();
    function changewidth(){
        var winw=$(window).width();
        for(var i=0;i<=$('.tables .time').length;i++){
            if(winw<1500){
                $('.tables .time').eq(i).text(timetxt[i].substr(5,5));
            }
            else{
                $('.tables .time').eq(i).text(timetxt[i]);
            }
        }
        if(winw<1500){
            $('.zddx .tab-box h3').hide();
            $('.moreicon').css('display','inline-block');
            $('.icon-box .u-icon').addClass('ellipsis-box').hide();
        }
        else{
            $('.moreicon').hide();
            $('.icon-box .u-icon').removeClass('ellipsis-box').show();
            $('.zddx .tab-box h3').css('max-width','215px').show();
        }
    }

</script>