<%- include('../templates/head') %>
<body>
	<%- include('../templates/header') %>
	<div class="content case cqzdr">
        <%- include('../templates/zddx-left') %>
		<div class="zddx-right zdr-bj-box">
            <div class="zddx-right-box" >
                <div class="zddx-right-title clearfix">
                    <div class="title-aright pull-right">
                        <a href="../html/重庆重点对象-重点人-编辑.html" class="btn active">基本信息编辑</a>
                        <a href="../html/重庆重点对象-关注情况编辑.html" class="btn">关注情况编辑</a>
                    </div>
                </div>
                <div class="new-editCont nicescroll" id="zdr-jbxx2">
                    <div class="tit">
                        <p class="blue-title">基本信息</p>
                    </div>
                    <ul class="g-zlm-phone">
                        <li>
                            <div class="bj-left w10">头像：</div>
                            <div class="bj-right">
                                <div class="imgBox">
                                    <img src="../images/cqdnk/touxiang.png" alt="">
                                </div>
                                <div class="uploadBox">
                                    <div class="upload-headPic">
                                        <input type="file" class="upload-pic" value="上传图片">
                                        <i class="upload-icon">上传头像</i>
                                    </div>
                                    <p class="touxiang-p"> (仅支持JPG、PNG格式，文件小于100KB)</p>
                                </div>
                            </div>
                        </li>
                        <li class="pull-left ww50">
                                <label class="bj-left w20"><i class="redStar">*</i>姓名：</label>

                                <div class="bj-right">
                                       
                                    <input class="u-ipt" type="text" placeholder="输入重点对象真实名字">
                                </div>

                        </li>
                        <li  class="pull-left ww50">
                                <label class="bj-left w20">身份证号码：</label>

                                <div class="bj-right">
                                       
                                        <input class="u-ipt" type="text" placeholder="输入重点对象的身份证号码">
                                    </div>

                        </li>
                        <li  class="pull-left ww50">
                                <label class="bj-left w20">籍贯：</label>

                                <div class="bj-right">
                                       
                                        <input class="u-ipt" type="text" placeholder="输入重点对象的籍贯">
                                    </div>

                        </li>
                        <li  class="pull-left ww50">
                                <label class="bj-left w20">身份证注册地：</label>

                                <div class="bj-right">
                                       
                                        <input class="u-ipt" type="text" placeholder="输入重点对象的身份证">
                                    </div>

                        </li>
                        <li class="pull-left ww50">
                            <div class="bj-left"><i class="redStar">*</i>组织：</div>
                            <div class="bj-right">
                                <div class="dropdown pull-left">
                                    <button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #757575">请选择 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:;">重点人组1</a></li>
                                        <li><a href="javascript:;">重点人组2</a></li>
                                        <li><a href="javascript:;">重点人组3</a></li>
                                    </ul>
                                </div>
                                <div class="Prompt">?
                                    <span class="Prompt-right with235">重点人归纳重点群体组织，每个重点人最多归纳5个重点群体组织。</span>
                                </div>
                            </div>
                        </li>
                        <li  class="pull-left ww50">
                                <label class="bj-left w20">居住地：</label>

                                <div class="bj-right">
                                       
                                        <input class="u-ipt" type="text" placeholder="输入重点对象现住所地">
                                    </div>

                        </li>
                        <li  class="pull-left ww50 lxfs">
                            <label class="bj-left w20">联系方式：</label>
                            <div class="bj-right">
                                <div class="num86">
                                    <i class="shuzi">+86</i>
                                    <i class="heng">-</i>
                                </div>
                                <input class="u-ipt" type="text" placeholder="输入重点对象的联系方式">
                            </div>
                            <div class="addNum">(可添加上限为9个联系方式)</div>
                            <div class="btnbox">
                                <i class="i1"></i>
                                <i class="i2"></i>
                            </div>
                        </li>
                        <li>
                            <div class="bj-left w10">  个人情况：</div>
                            <div class="bj-right">
                                    <textarea class="form-control u-ipt tArea" placeholder="请输入个人情况，字数上限为500字符" style="min-height: 70px" ></textarea>
                            </div>
                        </li>
                        <li class="gkjb">
                            <div class="bj-left w10">管控级别：</div>
                            <div class="bj-right">
                                <label><input type="radio" name="jibie"/>一级</label>
                                <label><input type="radio" name="jibie"/>二级</label>
                                <label><input type="radio" name="jibie"/>三级</label>
                            </div>
                        </li>
                        <li class="fjsc">
                            <div class="bj-left w10"> 上传附件：</div>
                            <div class="g-upload-wrap">
                                <input type="file" class="upload-pic" value="上传附件">
                                <i class="soutu-icon upload-icon"></i>
                            </div>
                            <div style="color: #8DA5C1;margin-top: 5px; font-size: 12px">（仅支持扩展名：.rar .zip .doc .docx .pdf .jpg.和总文件小于20MB)</div></br>
                            <div class="xs xs1">照片09987554如55255.JPG   <i></i></div>
                            <div class="xs xs2">照片09987554如55255.JPG   <i></i></div>
                        </li>
                        <li class="mbottom12">
                            <div class="bj-left w10">  活跃平台：</div>
                            <div class="bj-right">
                                   <a href="javascript:;" class="btn bj_add"></a>
                                   <div class="Prompt">? 
                                        <span class="Prompt-right">系统对该人物在网络平台发布的信息进行检测，每个平台限20个站点/账号， 布局新加入的网站需要时间，请耐心等待。  </span>
                                    </div>
                            </div>
                        </li>
                        <li>
                            <div class="bj-left w10"></div>
                            <div class="bj-right">
                                  <ul class="site_detection">
                                      <li>
                                          <div class="dropdown pull-left grayBg">
                                              <button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #333333;min-width: 100px">网站 <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu">
                                                  <li><a href="javascript:;">网站</a></li>
                                                  <li><a href="javascript:;">微博</a></li>
                                                  <li><a href="javascript:;">公众号</a></li>
                                                  <li><a href="javascript:;">论坛</a></li>
                                                  <li><a href="javascript:;">百度贴吧</a></li>
                                              </ul>
                                          </div>
                                          <label> <input class="w190" type="text" placeholder="请输入账号"></label>
                                          <div class="wangzhan">网站地址</div>
                                          <label class="del-input"> <input class="w440" type="text" placeholder="请输入该网站地址，支持子频道，如http://politics.people.com.cn/"> <i>×</i> </label>
                                      </li>
                                      <li>
                                          <div class="dropdown pull-left grayBg">
                                              <button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #333333;min-width: 100px">网站 <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu">
                                                  <li><a href="javascript:;">网站</a></li>
                                                  <li><a href="javascript:;">微博</a></li>
                                                  <li><a href="javascript:;">公众号</a></li>
                                                  <li><a href="javascript:;">论坛</a></li>
                                                  <li><a href="javascript:;">百度贴吧</a></li>
                                              </ul>
                                          </div>
                                          <label> <input class="w190" type="text" placeholder="请输入账号"></label>
                                          <div class="wangzhan">网站地址</div>
                                          <label class="del-input"> <input class="w440" type="text" placeholder="请输入该网站地址，支持子频道，如http://politics.people.com.cn/"> <i>×</i> </label>
                                      </li>
                                  </ul>
                            </div>
                        </li>
                        <li class="mbottom12">
                            <div class="bj-left w10">  虚拟身份：</div>
                            <div class="bj-right">
                                   <a href="javascript:;" class="btn bj_add"></a>
                                   <div class="Prompt">? 
                                        <span class="Prompt-right oneline">系统对该人物虚拟身份做记录，虚拟身份限20个。  </span>
                                    </div>
                            </div>
                        </li>
                        <li class="mbottom12">
                            <div class="bj-left w10"></div>
                            <div class="bj-right">
                                  <ul class="site_detection">
                                        <li>
                                          <div class="dropdown pull-left grayBg">
                                              <button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #333333;min-width: 100px">网站 <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu">
                                                  <li><a href="javascript:;">网站</a></li>
                                                  <li><a href="javascript:;">微博</a></li>
                                                  <li><a href="javascript:;">公众号</a></li>
                                                  <li><a href="javascript:;">论坛</a></li>
                                                  <li><a href="javascript:;">百度贴吧</a></li>
                                              </ul>
                                          </div>
                                          <label> <input class="w310" type="text" placeholder="请输入用户账号"></label>
                                          <div class="wangzhan">昵称</div>
                                          <label class="del-input"> <input class="w310" type="text" placeholder="请输入用户昵称"> <i>×</i> </label>
                                        </li>
                                  </ul>
                            </div>
                        </li>
                        <li>
                            <div class="bj-left w10">   备注：</div>
                            <div class="bj-right">
                                <textarea class="form-control u-ipt" placeholder="输入备注，字数上限200字符" maxlength="200" style="min-height: 70px;width: 586px;vertical-align: top;color:#666;"></textarea>
                            </div>
                        </li>
                    </ul>
                    <div class="inline-button" style="padding-bottom: 32px;">
                        <a href="重庆重点对象-重点人-事业人物.html" class="active" data-toggle="modal" data-target="#close">取消</a>
                        <a href="重庆重点对象-重点人-事业人物.html" class="active">确定</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
<%- include('../templates/foot') %>
<script type="text/javascript">
    $(document).ready(function(){
        $(window).resize(function (event) {
            $('#zdr-jbxx2').height($(window).height() - 147);
        });
        $(".g-zlm-phone").on("click",".lxfs .i2",function(){
            var len = $(".g-zlm-phone .lxfs").length;
            $(this).parents(".lxfs").remove();
            // if(len==1){
            //     $(".g-zlm-phone .lxfs:first").find(".i1").css('display', 'inline-block');
            // }
            $(".g-zlm-phone .lxfs:last").find(".i1").css('display', 'inline-block');
        });
        $(".g-zlm-phone").on("click",".lxfs .i1",function(){
            var len = $(".g-zlm-phone .lxfs").length;
            var str = `<li  class="pull-left ww50 lxfs">
                        <label class="bj-left w20">联系方式：</label>
                        <div class="bj-right">
                            <div class="num86">
                                <i class="shuzi">+86</i>
                                <i class="heng">-</i>
                            </div>
                            <input class="u-ipt" type="text" placeholder="输入重点对象的联系方式">
                        </div>
                        <div class="btnbox">
                            <i class="i1"></i>
                            <i class="i2"></i>
                        </div>
                       </li>`
            // if(len<5){
                $(this).parents(".lxfs").after(str);
            // }
            $(".g-zlm-phone .lxfs").find(".i1").css('display', 'none');
            $(".g-zlm-phone .lxfs:last").find(".i1").css('display', 'inline-block');
            $(".g-zlm-phone .lxfs").eq(4).find(".i1").css('display', 'none');
        });
        $(".g-zlm-phone .lxfs").eq(0).find(".i2").css('display', 'none');
        $(".g-zlm-phone .lxfs:first").find(".i1").css('display', 'inline-block');
    });
</script>