<%- include('../templates/head') %>
<body>
	<%- include('../templates/header') %>
	<div class="content case cqzdr">
		<%- include('../templates/zddx-zdzd-left') %>

		<div class="zddx_nav_box">
				<div class="zddx-left">
					<div class="left-top">
						<div class="top-search-box">
							<input type="text" placeholder="搜索"/>
							<a href="javascript:;"><i class="fa fa-search"></i></a>
						</div>
					</div>
					<ul class="herf-btn clearfix">
						<li style="width: 100%"><a href="javascript:void(0)"><i class="fa fa-users"></i>分组管理</a></li>
					</ul>
					<div class="list-box">
						<ul class="plista">
							<li>
								<a href="###" class="fz16">
									事业人物
									<i class="fa fa-caret-down pull-right"></i>  
								</a>
								<div class="operate-sj-box pull-right">
										<i class="fa fa-ellipsis-v"></i>
									<ul class="operate-btna clearfix">
											<li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
											<li><a href="###"><i class="fa fa-times"></i>删除</a></li>
									</ul>
								</div>
								<div class="clist" style="background-color: #063657;">
                                        <div class="jstree nicescroll" style=" max-height: 280px"></div>	
                                    </div>
							</li>
							<li>
								<a href="###" class="fz16">分组1<i class="fa fa-caret-right pull-right"></i></a>
								<div class="operate-sj-box pull-right">
										<i class="fa fa-ellipsis-v"></i>
									<ul class="operate-btna clearfix">
											<li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
											<li><a href="###"><i class="fa fa-times"></i>删除</a></li>
									</ul>
								</div>
								<div class="clist" style="background-color: #063657;">
                                        <div class="jstree nicescroll" style=" max-height: 280px"></div>	
                                    </div>
							</li>
							<li>
								<a href="###" class="fz16">分组2<i class="fa fa-caret-right pull-right"></i></a>
								<div class="operate-sj-box pull-right">
										<i class="fa fa-ellipsis-v"></i>
									<ul class="operate-btna clearfix">
											<li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
											<li><a href="###"><i class="fa fa-times"></i>删除</a></li>
									</ul>
								</div>
								<div class="clist" style="background-color: #063657;">
									<div class="jstree nicescroll" style=" max-height: 280px"></div>	
								</div>
							</li>
							<li>
								<a href="###" class="fz16">分组2<i class="fa fa-caret-right pull-right"></i></a>
								<div class="operate-sj-box pull-right">
										<i class="fa fa-ellipsis-v"></i>
									<ul class="operate-btna clearfix">
											<li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
											<li><a href="###"><i class="fa fa-times"></i>删除</a></li>
									</ul>
								</div>
                                <div class="clist" style="background-color: #063657;">
                                        <div class="jstree nicescroll" style=" max-height: 280px"></div>	
                                    </div>
							</li>
						
						</ul>
					</div>
				</div>
			</div>






		<div class="zddx-right zddx-undertakings">
            <div class="zddx-right-box">
                <div class="zddx-right-title">
                    <div class="title-aleft">
                        <h3>总队值班组</h3>
                    </div>
                    <div class="title-aright pull-right">
							
							<div class="undertakings-titless" style="margin-left: 150px">
									<ul class="clearfix">
										<li class="input_li">
											<div class="layut-input">
													<input class="form-control" type="text" placeholder="标题关键词匹配">
													<a href="javascript:;"><i class="fa fa-search"></i></a>
											</div>
										</li>
										<li>
												<div class="dropdown">
														<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #757575">时间倒序 <span class="caret"></span>
														</button>
														<ul class="dropdown-menu">
															<li><a href="javascript:;">时间倒序</a></li>
															<li><a href="javascript:;">时间顺序</a></li>
															<li><a href="javascript:;">相关排序</a></li>
														
														</ul>
												</div>
											</li>
											<li>
												<div class="dropdown">
														<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #757575">近七天 <span class="caret"></span>
														</button>
														<ul class="dropdown-menu">
															<li><a href="javascript:;">近七天</a></li>
															<li><a href="javascript:;">近一个月</a></li>
														</ul>
												</div>
											</li>
											<li >
												<div class="layout-data" style="margin-top: 10px">
														<input id="d01" class="u-data" type="text" onclick="DatePicker.dateId1()" placeholder="选择日期" readonly="">至<input id="d02" class="u-data" type="text" onclick="DatePicker.dateId2()" placeholder="选择日期" readonly="">
												</div>
													
											</li>
											<li >
													<a href="重庆重点对象-重点关系图.html" class="btn">关联事件</a>
													
											</li>
									</ul>
									
								</div>
							
                       
                    </div>
                </div>
	            <div class="zddx-undertakings-cont">
					<!-- <div class="undertakings-title">
						<ul class="clearfix">
							
							<li class="input_li">
								<div class="layut-input">
										<input class="form-control" type="text" placeholder="关键词">
										<a href="javascript:;"><i class="fa fa-search"></i></a>
								</div>
							</li>
							
						</ul>
					</div> -->
					<div class="undertakings-tab">
							<table class="tables tables-hover">
									<tr>
										<th width="20"><input type="checkbox" /></th>
										<th width="60">序号</th>
										<th width="40%">标题</th>
										<th >网站来源</th>
										<th >时间</th>
										<th>操作</th>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" /></td>
										<td>1</td>
										<td class="txt">
                                                <a class="tables-bt" href="###" title="李克卿与上冻达标团共同审议政府工作报告">李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告李克卿与上冻达标团共同审议政府工作报告</a>
                                                <a href="#" class="pri green" target="_blank">[原链接]</a>
                                            </td>
										<td class="td200">
											汉网_首页
										</td>
										<td class="td200" title="2018-05-02 21:30:00">
											<span>2018-05-02 21:30:00</span>
											
										</td>
										<td>
											<div class="u-icon">
												<a class="u-b2" href="javascript:;" title="检索"></a>
												<a class="u-b9" href="javascript:;" title="上报"></a>
											
											</div>
										</td>
									</tr>  
								</table>
								<div class="zt-ft clearfix">
									<div class="pull-left">
											<div class="icheckbox_flat-blue" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
											<a href="##" class="btn" data-toggle="modal" data-target="#export"><i class="fa fa-upload"></i> 导出</a>
										</div>

									<div class="pull-right zt-page">
										<span>共222条</span>
										<a class="btn">上一页</a>
										<a class="btn">下一页</a>
										<div class="dropup">
											<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">10条 <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#">10条</a></li>
												<li><a href="#">20条</a></li>
												<li><a href="#">30条</a></li>
												<li><a href="#">50条</a></li>
											</ul>
										</div>
										<div class="quick">
											<label>快速翻页</label>
											<input type="text" value="5">
										</div>
										<a href="##" class="btn">确 认</a>
									</div>
								</div>
					</div>
				</div>	
	            </div>
			</div>
		</div>
	</div>

	 <!-- 导出报告 -->
	 <div class="modal fade" id="export">
			<div class="modal-dialog" role="document" style="width:500px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="myModalLabel">导出报告</h4>
					</div>
					<div class="modal-body">
							<table class="tc-table">
									<tr>
										<th>导出方式：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs2" /> 自定义</label>
											<label><input type="radio"  name="dcgs2"/> 已勾选</label>
											<label><input type="radio"  name="dcgs2"/> 全部</label>
										</td>
									</tr>
									<tr>
										<th>信源范围：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs3" /> 当前信源</label>
											<label><input type="radio"  name="dcgs3"/> 所有信源</label>
										</td>
									</tr>
									<tr>
										<th>信源范围：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs4" /> WORD</label>
										
										</td>
									</tr>
								</table>
					</div>
					<div class="modal-footer inline-button" style="padding-right: 15px;">
						<a class="active" data-dismiss="modal" aria-label="Close">取消</a>
						<a class="active">确定</a>
					</div>
				</div>
			</div>
		</div>

	<!-- 删除 -->
	<div class="modal fade" id="myModal3">
			<div class="modal-dialog" role="document" style="width: 500px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="myModalLabel">删除</h4>
					</div>
					<div class="modal-body">
						<h3 style="text-align:center;padding: 35px 0;">是否删除"马云又出手了这事件"</h3>
					</div>
					<div class="modal-footer">
						<button id="btn" type="button" class="btn" data-dismiss="modal" aria-label="Close">取消</button>
						<button id="btn" type="button" class="btn yes">确定</button>
					</div>
				</div>
			</div>
		</div>

<%- include('../templates/foot') %>
<script type="text/javascript">
    $(function () { $("[data-toggle='tooltip']").tooltip(); })



	  // 自适应内容
	  var timetxt=[];
    for(var i=0;i<=$('.tables .time').length;i++){
        timetxt.push($('.tables .time').eq(i).text());
    }
    changewidth();
    function changewidth(){
        var winw=$(window).width();
        for(var i=0;i<=$('.tables .time').length;i++){
            if(winw<1500){
                $('.tables .time').eq(i).text(timetxt[i].substr(5,5));
            }
            else{
                $('.tables .time').eq(i).text(timetxt[i]);
            }
        }
        if(winw<1500){
            $('.zddx .tab-box h3').hide();
            $('.moreicon').css('display','inline-block');
            $('.icon-box .u-icon').addClass('ellipsis-box').hide();
        }
        else{
            $('.moreicon').hide();
            $('.icon-box .u-icon').removeClass('ellipsis-box').show();
            $('.zddx .tab-box h3').css('max-width','215px').show();
        }
	}
	
	 //点击列表触发
	 showtree();
    function showtree(){
        $('.tree-ul').on('click', 'ul li', function() {
            $(this).addClass('active').siblings('li').removeClass('active');
            $(this).find('.de-tree').show();
            $(this).siblings('li').find('.de-tree').hide();
            $(this).find('.fa-caret-down').removeClass('fa-caret-down').addClass('fa-caret-up');
            $(this).siblings('li').find('.fa-caret-up').removeClass('fa-caret-up').addClass('fa-caret-down');
        });
    }


	  $(function () {
        $('.jstree').jstree({'plugins':["wholerow","checkbox"], 'core' : {
            'data' : [
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../images/img_01.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "text" : "某某新闻",
                    "state" : { "opened" : false },
                    "children" : [
                        {
                            "text" : "广东",
                            "state" : { "opened" : true },
                            "icon" : "../libs/jstree/themes/default/my/sec.png",
                            "children" : [
                                {
                                    "text" : "广州",
                                    "state" : { "opened" : true },
                                    "icon" : "../libs/jstree/themes/default/my/thr.png",
                                    "children" : [
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        },
                                        {
                                            "text" : "custom icon URL",
                                            "icon" : "../libs/jstree/themes/default/my/four.png"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }});
    });

   

	
</script>