<%- include('../templates/head') %>
<body>
<%- include('../templates/header') %>
<div class="content case cqzdr Relation_diagram ">
	<%- include('../templates/zddx-left') %>
	<div class="Relation_diagram_box">
		<div class="diagram_box_title">
			<div class="title-aleft">
				<h3>重点关系网</h3>
			</div>
			<div class="title-aright pull-right">
					<a href="javascript:;" class="btn">最近七天</a>
					<a href="javascript:;" class="btn">最近1月</a>
					<a href="./重庆重点对象-重点关系图全屏.html" class="btn" style="margin-left: 20px" > <i class="Full_screen"></i>  全屏查看</a>   
			</div>
		</div>
		<div class="diagram_box_con">
			<div id="relationship" style="width: 100%;height: 100%"></div>
		</div>
	</div>
</div>


<%- include('../templates/foot') %>
<script>
	$(function () {
		//人际关系图
		var arrchart = [];
		relationship();
		function relationship(){
			var myChart = echarts.init(document.getElementById('relationship'));
			var option = {
				tooltip : {
					show : true,   //默认显示
					showContent:true, //是否显示提示框浮层
					trigger:'item',//触发类型，默认数据项触发
					triggerOn:'click',//提示触发条件，mousemove鼠标移至触发，还有click点击触发
					alwaysShowContent:false, //默认离开提示框区域隐藏，true为一直显示
					showDelay:0,//浮层显示的延迟，单位为 ms，默认没有延迟，也不建议设置。在 triggerOn 为 'mousemove' 时有效。
					hideDelay:200,//浮层隐藏的延迟，单位为 ms，在 alwaysShowContent 为 true 的时候无效。
					enterable:true,//鼠标是否可进入提示框浮层中，默认为false，如需详情内交互，如添加链接，按钮，可设置为 true。
					position:'right',//提示框浮层的位置，默认不设置时位置会跟随鼠标的位置。只在 trigger 为'item'的时候有效。
					confine:false,//是否将 tooltip 框限制在图表的区域内。外层的 dom 被设置为 'overflow: hidden'，或者移动端窄屏，导致 tooltip 超出外界被截断时，此配置比较有用。
					transitionDuration:0.4,//提示框浮层的移动动画过渡时间，单位是 s，设置为 0 的时候会紧跟着鼠标移动。
					formatter: function (params, ticket, callback) {
						//判断数据，提供相应的url。
						/*var path="";
						var node=params.data; //当前选中节点数据
						var category=params.data.category;  //选中节点图例0负载 1中间件 2端口号 3数据库 4用户名
						if(category==2){ //为jvm 虚拟机各类参数的路径
							path = "${ctx}/weblogic.do?host=" + node.host + "&port="
								+ node.port + "&username=" + node.username
								+ "&pwd=" + node.pwd; //准备访问路径
						}else if(category==4){ //为jdbc 数据库的路径
							path = "${ctx}/oracle.do?host=" + node.host + "&port="
								+ node.port + "&username=" + node.username
								+ "&pwd=" + node.pwd + "&instance="
								+ node.instance; //准备访问路径
						}
						console.log(params);
						$.ajax({
							async : true,//设置异、同步加载
							cache : false,//false就不会从浏览器缓存中加载请求信息了
							type : 'post',
							dataType : "json",
							url : path,//请求的action路径
							success : function(data) { //请求成功后处理函数。
								//加工返回后的数据
								debugger;
								if(category==2){ //当选择端口号时
									var res = 'jvm最大内存值:' + data.memoryMaxSize+'<br/>';
									res+='jvm空闲内存值:'+data.memoryFreeSize+'<br/>';
									res+='jvm内存使用率：'+data.memoryPer+'<br/>';
									res+='空闲线程：'+data.ideThread+'<br/>';
									res+='总线程：'+data.totalThread+'<br/>';
									res+='每秒处理的线程数比率：'+data.throuhput+'<br/>';
									callback(ticket,res);
								}else if(category==4){//当选择用户名时
									var res = '当前链接数：'+data.processCount+'<br/>';
									res+='最大链接数：'+data.maxProcessCount+'<br/>';
									callback(ticket,res);
								}
								
							},
							error : function() {//请求失败处理函数
								$.messager.alert('警告', '请求失败！', 'warning');
							}
						});
						if(category==2||category==4){ //当选择端口号与用户名时提示加载
							return "loading";
						}else{                   //其他情况显示所属图例以及名称
							return myChart.getOption().series[params.seriesIndex].categories[params.data.category].name+":"+params.name;
						}*/

						// hover显示窗
						var tipHtml = '';
						           tipHtml = '<div style="height:400px;width:490px;border-radius:5px;background:#fff;box-shadow:0 0 10px 5px #aaa">'+
						               		'<div class="clearfix" style="padding-top: 10px;height:280px;border-bottom: 1px solid #ddd;margin-bottom: 8px;">'+
						               			'<div class="pull-left" style="width: 25%;">'+
						               				'<img src="../images/cqdnk/touxiang.png" style="margin: 0 auto;">'+
						               			'</div>'+
						               			'<div class="pull-left" style="width: 75%;position:relative;">'+
						               				'<a href="###" style="position:absolute;width:90px;height:30px;line-height:30px;text-align:center;border:1px solid #029BE5;right: 18px;top: 14px;border-radius: 16px;color:#029BE5;">查看详情</a>'+
						               				'<ul style="font-size: 14px;color:#363636;font-weight: 900;">'+
						               					'<li style="margin-bottom:6px;">马云</li>'+
						               					'<li style="margin-bottom:6px;">管控级别：'+
						               						'<span>一级</span>'+
						               					'</li>'+
						               					'<li style="margin-bottom:6px;">籍贯：'+
						               						'<span>浙江省</span>'+
						               					'</li>'+
						               					
						               					'<li style="margin-bottom:6px;">身份证号码：'+
						               						'<span>33214569871124587</span>'+
						               					'</li>'+
						               					'<li style="margin-bottom:6px;">联系电话：'+
						               						'<span>150145211456</span>'+
						               					'</li>'+
						               					'<li style="margin-bottom:6px;">居住地：'+
						               						'<span style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: inline-block;width: 292px;vertical-align: top;">浙江省xxxxxx浙江省xxxxxx浙江省xxxxxx浙江省xxxxxx</span>'+
						               					'</li>'+
						               				'</ul>'+
						               				 '<p style="color:#4A4A4A;overflow:hidden;text-overflow:ellipsis; display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;white-space: pre-wrap;padding-right:17px;text-align:justify;">'+
						               				 	'个人情况：马云，男，1964年9月10日生于浙江省杭州市，祖籍浙江省嵊州市（原嵊县）谷来镇， 阿里巴巴集团主要创始人，现担任阿里巴巴集团董事局主席、日本软银董事、大自然保护协会中国理事会主席兼全球董事会成员、华谊兄弟董事、生命科学突破奖基金会董事、联合国数字合作高级别小组联合主席。'+
						               				 '</P>'+
						               			'</div>'+
						               		'</div>'+
						               		'<div style="color:#4A4A4A;overflow:hidden;text-overflow:ellipsis; display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;white-space: pre-wrap;padding: 11px 16px 0 17px;text-align:justify;">'+
						               			'<em style="color:#63ACFC;margin-right:6px;">马云</em>'+'目前所在'+'<em style="color:#63ACFC;margin:0 6px;">意思形态、行政、媒体、重要人物，领导意见</em>'+'的组织群体，参与过'+
						               			'<em style="color:#63ACFC;margin:0 6px;">中国最大寿竹海重庆平台里竹海、他是晚清李嘉诚、比胡雪岩有钱，为何能全身而退，马云钦点的接班人资料给员工学习马云突然下跪，空气突然都凝团了！</em>'+'事件。'+
						               		'</div>'+		
						               '</div>';
						           //setTimeout(function() {
						           //    tooltipCharts(params.name);
						           //}, 10);
						           return tipHtml;
						
					}
				},
				color:['#293f4e','#60a0a8','#9bd4ba','#ca8623','#d38265','#bda29b','#6e7074','#8c97cb','#88c6da','#bdca8e'],
				legend : {
					show : true,
					bottom: 20,
					data : [ {
						name : '重点人',
						icon : 'roundRect'//'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow'
					},
						{
							name : '重点人群组',
							
							icon : 'roundRect'
						}, {
							name : '单一重点人',
							
							icon : 'roundRect'
						}, {
							name : '重点数据',
							
							icon : 'roundRect'
						},{
							name : '事件群组',
							icon : 'roundRect'
						} ,{
							name : '单一事件',
							icon : 'roundRect'
						} ,{
							name : '重点阵地',
							icon : 'roundRect'
						},{
							name : '阵地类型',
							icon : 'roundRect'
						} ,{
							name : '阵地群组',
							icon : 'roundRect'
						},{
							name : '分类',
							icon : 'roundRect'
						}   ]
				},
				series : [ {
					type : 'graph', //关系图
					name : "监控管理系统", //系列名称，用于tooltip的显示，legend 的图例筛选，在 setOption 更新数据和配置项时用于指定对应的系列。
					layout : 'force', //图的布局，类型为力导图，'circular' 采用环形布局，见示例 Les Miserables
					legendHoverLink : true,//是否启用图例 hover(悬停) 时的联动高亮。
					hoverAnimation : true,//是否开启鼠标悬停节点的显示动画
					coordinateSystem : null,//坐标系可选
					xAxisIndex : 0, //x轴坐标 有多种坐标系轴坐标选项
					yAxisIndex : 0, //y轴坐标
					force : { //力引导图基本配置
						//initLayout: ,//力引导的初始化布局，默认使用xy轴的标点
						repulsion : 100,//节点之间的斥力因子。支持数组表达斥力范围，值越大斥力越大。
						gravity : 0.03,//节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。
						edgeLength :80,//边的两个节点之间的距离，这个距离也会受 repulsion。[10, 50] 。值越小则长度越长
						layoutAnimation : true
						//因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
					},
					roam : true,//是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移，可以设置成 'scale' 或者 'move'。设置成 true 为都开启
					nodeScaleRatio : 0.6,//鼠标漫游缩放时节点的相应缩放比例，当设为0时节点不随着鼠标的缩放而缩放
					draggable : true,//节点是否可拖拽，只在使用力引导布局的时候有用。
					focusNodeAdjacency : true,//是否在鼠标移到节点上的时候突出显示节点以及节点的边和邻接节点。
					//symbol:'roundRect',//关系图节点标记的图形。ECharts 提供的标记类型包括 'circle'(圆形), 'rect'（矩形）, 'roundRect'（圆角矩形）, 'triangle'（三角形）, 'diamond'（菱形）, 'pin'（大头针）, 'arrow'（箭头）  也可以通过 'image://url' 设置为图片，其中 url 为图片的链接。'path:// 这种方式可以任意改变颜色并且抗锯齿
					//symbolSize:10 ,//也可以用数组分开表示宽和高，例如 [20, 10] 如果需要每个数据的图形大小不一样，可以设置为如下格式的回调函数：(value: Array|number, params: Object) => number|Array
					//symbolRotate:,//关系图节点标记的旋转角度。注意在 markLine 中当 symbol 为 'arrow' 时会忽略 symbolRotate 强制设置为切线的角度。
					//symbolOffset:[0,0],//关系图节点标记相对于原本位置的偏移。[0, '50%']
					edgeSymbol : [ 'none', 'none' ],//边两端的标记类型，可以是一个数组分别指定两端，也可以是单个统一指定。默认不显示标记，常见的可以设置为箭头，如下：edgeSymbol: ['circle', 'arrow']
					edgeSymbolSize : 10,//边两端的标记大小，可以是一个数组分别指定两端，也可以是单个统一指定。
					itemStyle : {//===============图形样式，有 normal 和 emphasis 两个状态。normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
						normal : { //默认样式
							label : {
								show : true
							},
							borderType : 'solid', //图形描边类型，默认为实线，支持 'solid'（实线）, 'dashed'(虚线), 'dotted'（点线）。
							borderColor : 'rgba(255,215,0,0.4)', //设置图形边框为淡金色,透明度为0.4
							borderWidth : 2, //图形的描边线宽。为 0 时无描边。
							opacity : 1
							// 图形透明度。支持从 0 到 1 的数字，为 0 时不绘制该图形。默认0.5
							
						},
						emphasis : {//高亮状态
						
						}
					},
					lineStyle : { //==========关系边的公用线条样式。
						normal : {
							color : ['#d5c4c0'],
							width : '1',
							type : 'solid', //线的类型 'solid'（实线）'dashed'（虚线）'dotted'（点线）
							curveness : 0.3, //线条的曲线程度，从0到1
							opacity : 1
							// 图形透明度。支持从 0 到 1 的数字，为 0 时不绘制该图形。默认0.5
						},
					},
					label : { //=============图形上的文本标签
						normal : {
							show : true,//是否显示标签。
							position : ['-80%', '-40%'],//标签的位置。['50%', '50%'] [x,y]
							textStyle : { //标签的字体样式
								color : ['#9bd4ba','#bda29b'], //字体颜色
								fontStyle : 'normal',//文字字体的风格 'normal'标准 'italic'斜体 'oblique' 倾斜
								fontWeight : 'normal',//'normal'标准'bold'粗的'bolder'更粗的'lighter'更细的或100 | 200 | 300 | 400...
								fontFamily : 'sans-serif', //文字的字体系列
								fontSize : 12, //字体大小
							}
						},
						emphasis : {//高亮状态
						
						}
					},
					edgeLabel : {//==============线条的边缘标签
						normal : {
							show : false
						},
						emphasis : {//高亮状态
						
						}
					},
					//别名为nodes   name:影响图形标签显示,value:影响选中后值得显示,category:所在类目的index,symbol:类目节点标记图形,symbolSize:10图形大小
					//label:标签样式。
					data : [ {
						id : 0,
						category : 0,
						name : '重点事件',
						symbol : 'roundRect',
						value : 20,
						symbolSize : 60,
						itemStyle:{normal:{color:'#ca8623'}}
					}, { id : 1,
						category : 1,
						name : '群组1',
						symbol : 'roundRect',
						value : 20,
						symbolSize : 40,
						itemStyle:{normal:{color:'#d38265'}}
					}, {
						id : 2,
						category : 1,
						name : '群组2',
						symbol : 'roundRect',
						value : 20,
						symbolSize : 40,
						itemStyle:{normal:{color:'#d38265'}}
					},{
						id : 3,
						category : 3,
						name : '',
						symbol : 'roundRect',
						value : 20,
						symbolSize : 20,
						itemStyle:{normal:{color:'#bda29b'}}
					},{
						id : 4,
						category : 3,
						name : '',
						symbol : 'roundRect',
						value : 20,
						symbolSize : 20,
						itemStyle:{normal:{color:'#bda29b'}}
					},{
						id : 5,
						category : 3,
						name : '',
						symbol : 'roundRect',
						value : 20,
						symbolSize : 20,
						itemStyle:{normal:{color:'#bda29b'}}
					},{
						id : 6,
						category : 3,
						name : '',
						symbol : 'roundRect',
						value : 20,
						symbolSize : 20,
						itemStyle:{normal:{color:'#bda29b'}}
					},{
						id : 7,
						category : 4,
						name : '',
						symbol : 'arrow',
						value : 20,
						symbolSize : 15,
						itemStyle:{normal:{color:'#bdca8e'}}
					},{
						id : 8,
						category : 5,
						name : '',
						symbol : 'arrow',
						value : 20,
						symbolSize : 35,
						itemStyle:{normal:{color:'#88c6da'}}
					},{
						id : 9,
						category : 4,
						name : '',
						symbol : 'arrow',
						value : 20,
						symbolSize : 15,
						itemStyle:{normal:{color:'#bdca8e'}}
					},{
						id : 10,
						category : 4,
						name : '',
						symbol : 'arrow',
						value : 20,
						symbolSize : 15,
						itemStyle:{normal:{color:'#bdca8e'}}
					},{
						id : 11,
						category : 4,
						name : '网站',
						symbol : 'arrow',
						value : 20,
						symbolSize : 40,
						itemStyle:{normal:{color:'#8c97cb'}}
					},{
						id : 12,
						category : 4,
						name : '重点阵地',
						symbol : 'arrow',
						value : 20,
						symbolSize : 50,
						itemStyle:{normal:{color:'#6e7074'}}
					},{
						id : 13,
						category : 5,
						name : '',
						symbol : 'circle',
						value : 20,
						symbolSize : 20,
						itemStyle:{normal:{color:'#9bd4ba'}}
					},{
						id : 14,
						category : 5,
						name : '群组3',
						symbol : 'circle',
						value : 20,
						symbolSize : 35,
						itemStyle:{normal:{color:'#60a0a8'}}
					},{
						id : 15,
						category : 5,
						name : '',
						symbol : 'circle',
						value : 20,
						symbolSize : 15,
						itemStyle:{normal:{color:'#9bd4ba'}}
					},{
						id : 16,
						category : 5,
						name : '重点人',
						symbol : 'circle',
						value : 20,
						symbolSize : 50,
						itemStyle:{normal:{color:'#293f4e'}}
					},{
						id : 17,
						category : 5,
						name : '群组2',
						symbol : 'circle',
						value : 20,
						symbolSize : 35,
						itemStyle:{normal:{color:'#60a0a8'}}
					},{
						id : 18,
						category : 5,
						name : '群组1',
						symbol : 'circle',
						value : 20,
						symbolSize : 35,
						itemStyle:{normal:{color:'#60a0a8'}}
					},{
						id : 19,
						category : 5,
						name : '',
						symbol : 'circle',
						value : 20,
						symbolSize : 15,
						itemStyle:{normal:{color:'#9bd4ba'}}
					}
						,{
							id : 20,
							category : 5,
							name : '',
							symbol : 'circle',
							value : 20,
							symbolSize : 15,
							itemStyle:{normal:{color:'#9bd4ba'}}
						}
						,{
							id : 21,
							category : 5,
							name : '',
							symbol : 'circle',
							value : 20,
							symbolSize : 15,
							itemStyle:{normal:{color:'#9bd4ba'}}
						}
						,{
							id : 22,
							category : 5,
							name : '',
							symbol : 'circle',
							value : 20,
							symbolSize : 15,
							itemStyle:{normal:{color:'#9bd4ba'}}
						}
						,{
							id : 23,
							category : 5,
							name : '',
							symbol : 'circle',
							value : 20,
							symbolSize : 15,
							itemStyle:{normal:{color:'#9bd4ba'}}
						}
						,{
							id : 24,
							category : 5,
							name : '微信',
							symbol : 'arrow',
							value : 20,
							symbolSize : 40,
							itemStyle:{normal:{color:'#8c97cb'}}
						},{
							id : 25,
							category : 5,
							name : '微博',
							symbol : 'arrow',
							value : 20,
							symbolSize : 40,
							itemStyle:{normal:{color:'#8c97cb'}}
						},{
							id : 26,
							category : 5,
							name : '',
							symbol : 'arrow',
							value : 20,
							symbolSize : 35,
							itemStyle:{normal:{color:'#88c6da'}}
						},{
							id : 27,
							category : 5,
							name : '',
							symbol : 'arrow',
							value : 20,
							symbolSize : 35,
							itemStyle:{normal:{color:'#88c6da'}}
						},{
							id : 28,
							category : 4,
							name : '',
							symbol : 'arrow',
							value : 20,
							symbolSize : 15,
							itemStyle:{normal:{color:'#bdca8e'}}
						},{
							id : 29,
							category : 4,
							name : '',
							symbol : 'arrow',
							value : 20,
							symbolSize : 15,
							itemStyle:{normal:{color:'#bdca8e'}}
						},{
							id : 30,
							category : 4,
							name : '',
							symbol : 'arrow',
							value : 20,
							symbolSize : 35,
							itemStyle:{normal:{color:'#88c6da'}}
						},{
							id : 31,
							category : 4,
							name : '',
							symbol : 'arrow',
							value : 20,
							symbolSize : 15,
							itemStyle:{normal:{color:'#bdca8e'}}
						}
					],
					categories :[ {
						name : '重点人',
						icon : 'roundRect'//'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow'
					},
						{
							name : '重点人群组',
							
							icon : 'roundRect'
						}, {
							name : '单一重点人',
							
							icon : 'roundRect'
						}, {
							name : '重点数据',
							
							icon : 'roundRect'
						},{
							name : '事件群组',
							icon : 'roundRect'
						} ,{
							name : '单一事件',
							icon : 'roundRect'
						} ,{
							name : '重点阵地',
							icon : 'roundRect'
						},{
							name : '阵地类型',
							icon : 'roundRect'
						} ,{
							name : '阵地群组',
							icon : 'roundRect'
						},{
							name : '分类',
							icon : 'roundRect'
						}  ],
					links : [ //edges是其别名代表节点间的关系数据。
						{
							source : 0,
							target : 1
						},
						{
							source : 0,
							target : 2
						},
						{
							source : 1,
							target : 3
						},
						{
							source : 1,
							target : 4  //单一事件2
						},
						{
							source : 2,
							target : 5
						},
						{
							source : 2,
							target : 6
						},
						{
							source : 4,
							target : 7
						},
						{
							source : 7,
							target : 8
						},
						{
							source : 8,
							target : 9
						},
						{
							source : 8,
							target : 10
						},
						{
							source : 11,
							target : 8
						},
						{
							source : 12,
							target : 11
						}
						,
						{
							source : 13,
							target : 3
						},
						{
							source : 14,
							target : 13
						},
						{
							source : 15,
							target : 13
						},
						{
							source : 16,
							target : 14
						},
						{
							source : 17,
							target : 16
						},
						{
							source : 18,
							target : 16
						},
						{
							source : 19,
							target : 17
						},
						{
							source : 20,
							target : 18
						},
						{
							source : 21,
							target : 18
						},
						{
							source : 22,
							target : 17
						},
						{
							source : 23,
							target : 17
						},
						{
							source : 24,
							target : 12
						},
						{
							source : 25,
							target : 12
						},
						{
							source : 26,
							target : 24
						},
						{
							source : 27,
							target : 24
						},{
							source : 28,
							target : 26
						},{
							source : 29,
							target : 26
						},{
							source : 30,
							target : 25
						},{
							source : 31,
							target : 30
						},
					]
				} ]
			};
			myChart.setOption(option);
			arrchart.push(myChart);
		}
		// 图表自适应
		window.onresize = function () {
			for (var i = 0; i < arrchart.length; i++) {
				arrchart[i].resize();
			}
		};
	})
</script>
