<%- include('../templates/head') %>
<body>
	<%- include('../templates/header') %>
	<div class="content case cqzdr">
        <%- include('../templates/zddx-left') %>
		<div class="zddx-right zddx-undertakings">
            <div class="zddx-right-box">
				<div class="breadCrumb">
					<a href="#">重点人</a>/
					<a href="#">监控情况</a>
				</div>
				<div class="control-nav">
					<div class="con-top">
						<p class="name">王健林</p>
						<div class="co-searchBox">
							<input class="int" type="text" placeholder="请输入"/>
							<a class="aBtn" href="#">搜索</a>
						</div>
					</div>
					<div class="con-navBox">
						<ul>
							<li class="active">
								<a href="重庆重点对象-重点人-事业人物.html">
									<i class="zdr-jiankong"></i>
									监控情况
								</a>
							</li>
							<li>
								<a href="重庆重点对象-重点人-基本信息.html">
									<i class="zdr-xinxi"></i>
									基本信息
								</a>
							</li>
							<li>
								<a href="重庆重点对象-重点人-关注情况.html">
									<i class="zdr-guanzhu"></i>
									关注情况
								</a>
							</li>
						</ul>
					</div>
				</div>
	            <div class="zddx-undertakings-cont control-content">
					<div class="undertakings-title">
						<ul class="clearfix">
							<li>	
								信源类型:
									<div class="dropdown">
										<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #757575">网站 <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="javascript:;">网站</a></li>
											<li><a href="javascript:;">微博</a></li>
											<li><a href="javascript:;">论坛</a></li>
											<li><a href="javascript:;">贴吧</a></li>
											<li><a href="javascript:;">公众号</a></li>
										</ul>
								</div>
							</li>
							<li>
								<div class="dropdown">
										<button class="u-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="border: 1px solid rgb(211, 219, 227); color: #757575">时间倒序<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="javascript:;">时间倒序</a></li>
											<li><a href="javascript:;">时间顺序</a></li>
										
										</ul>
								</div>
							</li>
							<li>
								<%- include('../templates/data_times') %>
							</li>
						</ul>
					</div>
					<div class="undertakings-tab rollHeight1">
						<div class="control-weibo">
							<ul class="data-list">
								<li>
									<div class="data-list-left pull-left"><input type="checkbox"></div>
									<div class="data-list-right">
										<div class="data-list-right-top">
											<div class="data-list-right-top-l">
												<span class="tag-label tag-red">疑似负面</span>
											</div>
											<a href="javascript:;" class="data-list-right-top-md">俄世界杯主办城市<em class="red">酒店</em>受炸弹威胁 人员被紧急疏散</a>
											<div class="handle-box">
												<ul class="handle-list clearfix">
													<li><a href="javascript:;" class="btn-blue">检索</a></li>
													<li><a href="javascript:;" class="btn-blue">报送</a></li>
												</ul>
											</div>
										</div>
										<div class="data-list-right-con clearfix">
											<img class="data-list-img" src="../images/bg-1.png" alt="">
											<div class="data-list-main">
												<a href="javascript:;" class="data-list-main-cont">受访专家学者一致认为，<em class="red">习近平</em>总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者 孙奕、许雪毅</a>
												<div class="data-list-main-foot">
													<a href="javascript:;" class="data-source"><i class="tu_con"></i>腾讯新闻<span class="monitor-box"><em class="monitor monitor-be">监控此对象</em></span></a>
													<span class="time"> · 2018-08-19  19:00</span>
													<span class="source-type">发布·<span>原创</span></span>
													<ul class="keyword-list clearfix">
														<li><a href="javascript:;">习近平</a></li>
														<li><a href="javascript:;">发展</a></li>
														<li><a href="javascript:;">新兴市场</a></li>
														<li><a href="javascript:;">居安思危</a></li>
													</ul>
													<a href="javascript:;" class="conform-btn pull-right">约有相似咨询788条>></a>
													<a href="javascript:;" class="before-link pull-right">(云润快照)</a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="data-list-left pull-left"><input type="checkbox"></div>
									<div class="data-list-right">
										<div class="data-list-right-top">
											<div class="data-list-right-top-l">
												<span class="tag-label tag-orange">敏感</span>
											</div>
											<a href="javascript:;" class="data-list-right-top-md">还有一个很文艺的摄影师@哈雷恶棍李奇[酷]//@angelica张宇:两位</a>
											<div class="handle-box">
												<ul class="handle-list clearfix">
													<li><a href="javascript:;" class="btn-blue">检索</a></li>
													<li><a href="javascript:;" class="btn-blue">报送</a></li>
												</ul>
											</div>
										</div>
										<div class="data-list-right-con clearfix">
											<img class="data-list-img" src="../images/bg-1.png" alt="">
											<div class="data-list-main">
												<a href="javascript:;" class="data-list-main-cont">还有一个很文艺的摄影师@哈雷恶棍李奇   @angelica张宇:两位很文艺的演员，拍了个很文艺的封面，还有个很文艺的Vog</a>
												<div class="data-list-main-foot">
													<a href="javascript:;" class="data-source"><i class="fa fa-weibo"></i>胡歌<span class="monitor-box"><em class="monitor monitor-af">已监控</em></span></a>
													<span class="time"> · 19:00</span>
													<span class="source-type"> 发布·<span>转发自：腾讯新闻</span> </span>
													<a href="javascript:;" class="before-link">(查看该文)</a>
													<ul class="keyword-list clearfix">
														<li><a href="javascript:;">习近平</a></li>
														<li><a href="javascript:;">发展</a></li>
														<li><a href="javascript:;">新兴市场</a></li>
														<li><a href="javascript:;">居安思危</a></li>
													</ul>
													<a href="javascript:;" class="conform-btn pull-right">约有相似咨询788条>></a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="data-list-left pull-left"><input type="checkbox"></div>
									<div class="data-list-right">
										<div class="data-list-right-top">
											<div class="data-list-right-top-l">
												<span class="tag-label tag-red">疑似负面</span><span class="tag-label tag-orange">敏感</span>
											</div>
											<a href="javascript:;" class="data-list-right-top-md">俄世界杯主办城市<em class="red">酒店</em>受炸弹威胁 人员被紧急疏散</a>
											<div class="handle-box">
												<ul class="handle-list clearfix">
													<li><a href="javascript:;" class="btn-blue">检索</a></li>
													<li><a href="javascript:;" class="btn-blue">报送</a></li>
												</ul>
											</div>
										</div>
										<div class="data-list-right-con clearfix">
											<div class="data-list-main">
												<a href="javascript:;" class="data-list-main-cont">受访专家学者一致认为，<em class="red">习近平</em>总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者受访专家学者一致认为，习近平总书记高瞻远瞩、居安思危，充分展现出新时代中对于上述事件，新华社厦门9月5日电（记者 孙奕、许雪毅</a>
												<div class="data-list-main-foot">
													<a href="javascript:;" class="data-source"><i class="tu_con"></i>腾讯新闻<span class="monitor-box"><em class="monitor monitor-be">监控此对象</em></span></a>
													<span class="time"> · 2018-08-19  19:00</span>
													<span class="source-type">发布·<span>原创</span></span>
													<ul class="keyword-list clearfix">
														<li><a href="javascript:;">习近平</a></li>
														<li><a href="javascript:;">发展</a></li>
														<li><a href="javascript:;">新兴市场</a></li>
														<li><a href="javascript:;">居安思危</a></li>
													</ul>
													<a href="javascript:;" class="before-link pull-right">(云润快照)</a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="data-list-left pull-left"><input type="checkbox"></div>
									<div class="data-list-right">
										<div class="data-list-right-top">
											<div class="data-list-right-top-l">
												<span class="tag-label tag-orange">敏感</span>
											</div>
											<a href="javascript:;" class="data-list-right-top-md">还有一个很文艺的摄影师@哈雷恶棍李奇[酷]//@angelica张宇:两位两位很文艺的演员，拍了个很文艺的封面，还有个很文艺的Vog两位很文艺的演员，拍了个很文艺的封面，还有个很文艺的Vog拍了个很文艺的封面，还有个很文艺的Vog</a>
											<div class="handle-box">
												<ul class="handle-list clearfix">
													<li><a href="javascript:;" class="btn-blue">检索</a></li>
													<li><a href="javascript:;" class="btn-blue">报送</a></li>
												</ul>
											</div>
										</div>
										<div class="data-list-right-con clearfix">
											<img class="data-list-img" src="../images/bg-1.png" alt="">
											<div class="data-list-main">
												<a href="javascript:;" class="data-list-main-cont">还有一个很文艺的摄影师@哈雷恶棍李奇   @angelica张宇:两位很文艺的演员，拍了个很文艺的封面，还有个很文艺的Vog</a>
												<div class="data-list-main-foot">
													<a href="javascript:;" class="data-source"><i class="fa fa-weixin"></i>百家之号<span class="monitor-box"><em class="monitor monitor-af">已监控</em></span></a>
													<span class="time"> · 2018-08-19  19:00 </span>
													<span class="source-type"> 发布·<span>原创</span></span>
													<ul class="keyword-list clearfix">
														<li><a href="javascript:;">习近平</a></li>
														<li><a href="javascript:;">发展</a></li>
														<li><a href="javascript:;">新兴市场</a></li>
														<li><a href="javascript:;">居安思危</a></li>
													</ul>
													<a href="javascript:;" class="conform-btn pull-right">约有相似咨询788条>></a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="data-list-left pull-left"><input type="checkbox"></div>
									<div class="data-list-right">
										<div class="data-list-right-top">
											<div class="data-list-right-top-l">
												<span class="tag-label tag-orange">敏感</span>
											</div>
											<a href="javascript:;" class="data-list-right-top-md">还有一个很文艺的摄影师@哈雷恶棍李奇[酷]//@angelica张宇:两位两位很文艺的演员，拍了个很文艺的封面，还有个很文艺的Vog两位很文艺的演员，拍了个很文艺的封面，还有个很文艺的Vog拍了个很文艺的封面，还有个很文艺的Vog</a>
											<div class="handle-box">
												<ul class="handle-list clearfix">
													<li><a href="javascript:;" class="btn-blue">检索</a></li>
													<li><a href="javascript:;" class="btn-blue">报送</a></li>
												</ul>
											</div>
										</div>
										<div class="data-list-right-con clearfix">
											<img class="data-list-img" src="../images/bg-1.png" alt="">
											<div class="data-list-main">
												<a href="javascript:;" class="data-list-main-cont">还有一个很文艺的摄影师@哈雷恶棍李奇   @angelica张宇:两位很文艺的演员，拍了个很文艺的封面，还有个很文艺的Vog</a>
												<div class="data-list-main-foot">
													<a href="javascript:;" class="data-source"><i class="fa fa-weixin"></i>百家之号<span class="monitor-box"><em class="monitor monitor-af">已监控</em></span></a>
													<span class="time"> · 2018-08-19  19:00 </span>
													<span class="source-type"> 发布·<span>原创</span></span>
													<ul class="keyword-list clearfix">
														<li><a href="javascript:;">习近平</a></li>
														<li><a href="javascript:;">发展</a></li>
														<li><a href="javascript:;">新兴市场</a></li>
														<li><a href="javascript:;">居安思危</a></li>
													</ul>
													<a href="javascript:;" class="conform-btn pull-right">约有相似咨询788条>></a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="zt-ft clearfix" style="padding: 10px 20px 30px;">
							<div class="pull-left">
								<div class="icheckbox_flat-blue"><input type="checkbox"></div>
								<a href="##" class="btn" data-toggle="modal" data-target="#export"><i class="fa fa-upload"></i> 导出</a>
							</div>
							<div class="pull-right">
								<div class="pagging"></div>
							</div>
						</div>
					</div>
				</div>	
	            </div>
			</div>
		</div>
	</div>

	<!-- 导出报告 -->
	<div class="modal fade" id="export">
			<div class="modal-dialog" role="document" style="width:500px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="myModalLabel">导出报告</h4>
					</div>
					<div class="modal-body">
							<table class="tc-table">
									<tr>
										<th>导出方式：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs2" /> 自定义</label>
											<label><input type="radio"  name="dcgs2"/> 已勾选</label>
											<label><input type="radio"  name="dcgs2"/> 全部</label>
										</td>
									</tr>
									<tr>
										<th>信源范围：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs3" /> 当前信源</label>
											<label><input type="radio"  name="dcgs3"/> 所有信源</label>
										</td>
									</tr>
									<tr>
										<th>信源范围：</th>
										<td class="table-label">
											<label><input type="radio" name="dcgs4" /> WORD</label>
										
										</td>
									</tr>
								</table>
					</div>
					<div class="modal-footer inline-button" style="padding-right: 15px;">
						<a class="active" data-dismiss="modal" aria-label="Close">取消</a>
						<a class="active">确定</a>
					</div>
				</div>
			</div>
		</div>

<%- include('../templates/foot') %>
<script>
</script>
