<%- include('../templates/head') %>
<body>
	<%- include('../templates/header') %>
	<div class="content case cqzdr">
        <%- include('../templates/zddx-left') %>
		<div class="zddx-right zddx-basic zdr-bj-box">
            <div class="zddx-right-box">
				<div class="breadCrumb">
					<a href="#">重点人</a>/
					<a href="#">监控情况</a>
				</div>
				<div class="control-nav">
					<div class="con-top">
						<p class="name">王健林</p>
					</div>
					<div class="con-navBox">
						<ul>
							<li>
								<a href="重庆重点对象-重点人-事业人物.html">
									<i class="zdr-jiankong"></i>
									监控情况
								</a>
							</li>
							<li class="active">
								<a href="重庆重点对象-重点人-基本信息.html">
									<i class="zdr-xinxi"></i>
									基本信息
								</a>
							</li>
							<li>
								<a href="重庆重点对象-重点人-关注情况.html">
									<i class="zdr-guanzhu"></i>
									关注情况
								</a>
							</li>
						</ul>
					</div>
				</div>
	            <div class="basic-content rollHeight">
					<p class="blue-title">基本信息</p>
					<div class="bas-xinxi mt10">
						<div class="img">
							<img src="../images/v3.0-cqzddx/mayun.png">
						</div>
						<div class="mes">
							<p>姓名：马云</p>
							<p>籍贯：浙江省</p>
							<p>身份证注册地：浙江省</p>
							<p>居住地：浙江省xxxxxxxxxxxxxxxxxxxx</p>
						</div>
						<div class="mes">
							<p>身份证号码：15561254622122622</p>
							<p>联系电话：15066668888</p>
							<p>管控级别：一级</p>
						</div>
					</div>
					<div class="bas-zuzhi mt10">
						<label class="lab">组织：</label>
						<span class="sp">事业人物</span>
						<span class="sp">分组2</span>
					</div>
					<div class="bas-geren mt10">
						<label>个人情况：</label>
						<span class="geren">马云，男，1964年9月10日生于浙江省杭州市，祖籍浙江省嵊州市（原嵊县）谷来镇， 阿里巴巴集团主要创始人，现
担任阿里巴巴集团董事局主席、日本软银董事、大自然保护协会中国理事会主席兼全球董事会成员、华谊兄弟董事、生命科学突破
奖基金会董事。</span>
					</div>
					<div class="bas-fujian mt10">
						<label>附件：</label>
						<ul class="b-fileList">
							<li>
								1.照片09987554如55255.jpg
								<a href="#" class="down"></a>
							</li>
							<li>
								2.照片09987554如55255.jpg
								<a href="#" class="down"></a>
							</li>
						</ul>
					</div>
					<p class="blue-title mt15">活跃平台</p>
					<div class="bas-wangzhan mt10">
						<table class="wangzhan-table">
							<tr>
								<th width="140">网站</th>
								<th width="510"></th>
								<th width="140" class="paddingLeft">
									状态
									<div class="Prompt">?
										<span class="Prompt-top">布控状态提醒，如已经布控成功，显示已布控，正在布控，显示请等待，布控失败，显示失败 </span>
									</div>
								</th>
							</tr>
							<% var state = ['请等待','已布控','失败']
							for(var i = 0; i < 3; i ++){ %>
							<tr>
								<td>
									<span class="gray-sp">As12562445</span>
								</td>
								<td class="text-left">
									<span class="gray-sp">https://www.baidu.com/?tn=39042058_18_oem_dg</span>
								</td>
								<td>
									<span class="gray-sp"><%= state[i] %></span>
								</td>
							</tr>
							<% } %>
						</table>
					</div>
					<div class="bas-wangzhan mt10">
						<table class="wangzhan-table">
							<tr>
								<th width="140">微博</th>
								<th width="510"></th>
								<th width="140">
									状态
								</th>
							</tr>
							<% var state = ['请等待','已布控','失败']
							for(var i = 0; i < 3; i ++){ %>
							<tr>
								<td>
									<span class="gray-sp">As12562445</span>
								</td>
								<td class="text-left">
									<span class="gray-sp">https://www.baidu.com/?tn=39042058_18_oem_dg</span>
								</td>
								<td>
									<span class="gray-sp"><%= state[i] %></span>
								</td>
							</tr>
							<% } %>
						</table>
					</div>
					<p class="blue-title mt15">虚拟身份</p>
					<div class="bas-qq mt10">
						<p class="smallTit">QQ</p>
						<ul class="detUl">
							<li>
								<label>账号：</label>
								<span>854272388</span>
							</li>
							<li>
								<label>昵称：</label>
								<span>易烊千玺</span>
							</li>
						</ul>
						<p class="detail">描述：<span>马云，1964年9月10日生于浙江省杭州市，祖籍浙江省嵊州市谷来镇， 阿里巴巴集团主要创始人</span></p>
					</div>
					<div class="bas-qq mt10">
						<p class="smallTit">微信</p>
						<ul class="detUl">
							<li>
								<label>账号：</label>
								<span>854272388</span>
							</li>
							<li>
								<label>昵称：</label>
								<span>易烊千玺</span>
							</li>
						</ul>
						<p class="detail">描述：<span>马云，1964年9月10日生于浙江省杭州市，祖籍浙江省嵊州市谷来镇， 阿里巴巴集团主要创始人</span></p>
					</div>
				</div>
            </div>
		</div>
	</div>
<%- include('../templates/foot') %>
<script type="text/javascript">
</script>