<%- include('../templates/head') %>
<body>
	<%- include('../templates/header') %>
	<div class="content case cqzdr">
        <%- include('../templates/zddx-zdsj-left') %>
		<div class="zddx-right zddx-eventDetails">
            <div class="zddx-right-box">
				<div class="breadCrumb">
					<a href="#">重点人</a>/
					<a href="#">关注情况</a>/
					<a href="#">关注情况详情</a>
				</div>
                <div class="zddx-right-title detail-rightTit">
                    <div class="title-aleft">
						<div class="detail-navBox">
							<ul>
								<li class="active">
									<a href="重庆重点对象-重点事件详情.html">
										<i class="sj-xiangqing"></i>
										事件详情
									</a>
								</li>
								<li>
									<a href="重庆重点对象-重点事件详情2.html">
										<i class="sj-xinxi"></i>
										事件信息
									</a>
								</li>
							</ul>
						</div>
                    </div>
                    <div class="title-aright pull-right">
						<a href="../html/重庆重点对象-重点事件-暴乱事件.html" class="btn">返回</a>
                    </div>
                </div>
	            <div class="bottom-detailCont rollHeight2">
					<table class="detail-table">
						<tr>
							<td>
								<p class="p1">标题</p>
								<p class="p2">中共重庆市委 重庆市人民政府</p>
							</td>
							<td>
								<p class="p1">创建人</p>
								<p class="p2">易烊千玺</p>
							</td>
							<td>
								<p class="p1">创建时间</p>
								<p class="p2">2018-10-12  10:15</p>
							</td>
						</tr>
						<tr>
							<td>
								<p class="p1">涉及地区</p>
								<p class="p2">重庆</p>
							</td>
							<td>
								<p class="p1">事件时间</p>
								<p class="p2">2018-10-21  10:00</p>
							</td>
							<td>
								<p class="p1">事件分组</p>
								<p class="p2">事件组</p>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<p class="p1">事件描述</p>
								<p class="p2">组件拖出来特别多一个一个删麻烦，这个问题，首先将组件拖入画布中，然后按住“shift”键，用鼠标点击要使用的组件，使该组件取消选择。再点击delete键，
									即可删除剩余不需要使用的组件。这里是500个字</p>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<p class="p1">附件：</p>
								<ul class="b-fileList">
									<li>
										照片09987554如55255.jpg
										<a href="#" class="down"></a>
									</li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
<%- include('../templates/foot') %>
