<div class="zddx_nav_box">
    <div class="leftnavbar leftnavbar1 menu-box">
        <div class="navtop">
            <div class="menu"><i class="fa fa-navicon"></i></div>
        </div>
        <div class="nicescroll">
            <ul class="menu-li">
                <li class="<%= local.gxt?'active':'' %>">
                    <a href="../html/重庆重点对象-重点关系图.html">
                        <div><img src="../images/cqdnk/guanxi.png" alt=""></div>
                        <em class="fz16">重点关系网</em>
                    </a>
                </li>
                <li class="<%= local.zdr?'active':'' %>">
                    <a href="../html/重庆重点对象-重点人-事业人物.html">
                        <div><img src="../images/cqdnk/guanzhu.png" alt=""></div>
                        <em class="fz16">重点人</em>
                    </a>
                </li>
                <li class="<%= local.zdzdw?'active':'' %>  zdzd-nav">
                    <a href="javascript:;">
                        <div><img src="../images/cqdnk/mudidi.png" alt=""></div>
                        <em class="fz16">重点阵地</em>
                    </a>
                    <ul class="li-menu-li">
                        <li style="border-radius: 0 3px 0 0;">
                            <a href="../html/重庆重点对象-重点阵地-网站2.html">
                                <div><img src="../images/glm-wz.png" alt=""></div>
                                <p class="fz12" style="display: inline-block;margin-left:8px;">网站</p>
                            </a>
                        </li>
                        <li>
                            <a href="../html/重庆重点对象-重点阵地-微博.html">
                                <div style="position: relative;left: -3px;"><img src="../images/zlm-wb.png" alt=""></div>
                                <p class="fz12" style="display: inline-block">微博</p>
                            </a>
                        </li>
                        <li style="border-radius: 0 0 3px 0;">
                            <a href="../html/重庆重点对象-重点阵地-微信.html">
                                <div><img src="../images/zlm-wx.png" alt=""></div>
                                <p class="fz12" style="display: inline-block;margin-left:6px;">微信</p>
                            </a>
                            <div class="zm-triangle1" style="position:absolute;top:44px;left:-6px;"></div>
                        </li>
                    </ul>

                </li>
                <li class="<%= local.zdsj?'active':'' %>">
                    <a href="../html/重庆重点对象-重点事件.html">
                        <div><img src="../images/cqdnk/shijian.png" alt=""></div>
                        <em class="fz16">重点事件</em>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="zddx_nav_box">
    <div class="zddx-left">
        <div class="left-top">
            <div class="top-search-box">
                <input type="text" placeholder="搜索"/>
                <a href="javascript:;"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <ul class="herf-btn clearfix">
            <li class="active"><a href="重庆重点对象-重点阵地-目录管理.html"><i class="icon-cata"></i>目录管理</a></li>
            <li><a href="重庆重点对象-重点阵地-添加分组.html"><i class="fa fa-plus"></i>添加分组</a></li>
        </ul>
        <div class="list-box">
            <ul class="plista">
                <li>
                    <a href="###" class="fz16">
                        事业人物
                        <i class="fa fa-caret-down pull-right"></i>
                    </a>
                    <div class="operate-sj-box pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                        <ul class="operate-btna clearfix">
                            <li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
                            <li><a href="###"><i class="fa fa-times"></i>删除</a></li>
                        </ul>
                    </div>
                    <div class="clist" style="background-color: #063657;">
                        <div class="jstree nicescroll" style=" max-height: 280px"></div>
                    </div>
                </li>
                <li>
                    <a href="###" class="fz16">分组1<i class="fa fa-caret-right pull-right"></i></a>
                    <div class="operate-sj-box pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                        <ul class="operate-btna clearfix">
                            <li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
                            <li><a href="###"><i class="fa fa-times"></i>删除</a></li>
                        </ul>
                    </div>
                    <div class="clist" style="background-color: #063657;">
                        <div class="jstree nicescroll" style=" max-height: 280px"></div>
                    </div>
                </li>
                <li>
                    <a href="###" class="fz16">分组2<i class="fa fa-caret-right pull-right"></i></a>
                    <div class="operate-sj-box pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                        <ul class="operate-btna clearfix">
                            <li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
                            <li><a href="###"><i class="fa fa-times"></i>删除</a></li>
                        </ul>
                    </div>
                    <div class="clist" style="background-color: #063657;">
                        <div class="jstree nicescroll" style=" max-height: 280px"></div>
                    </div>
                </li>
                <li>
                    <a href="###" class="fz16">分组2<i class="fa fa-caret-right pull-right"></i></a>
                    <div class="operate-sj-box pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                        <ul class="operate-btna clearfix">
                            <li><a href="../html/重庆重点对象-重点人-编辑.html"><i class="fa fa-pencil"></i>编辑</a></li>
                            <li><a href="###"><i class="fa fa-times"></i>删除</a></li>
                        </ul>
                    </div>
                    <div class="clist" style="background-color: #063657;">
                        <div class="jstree nicescroll" style=" max-height: 280px"></div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>